{{ " " }}
<div class="card" style="width: 100%; text-align: left;" data-style="{{ include.style }}">
  <!-- Removed image block -->

  <div class="card-text" style="text-align: left;">
    {% if include.title %}
    <a
            {% if include.link %}
            href="{{ include.link | relative_url | uri_escape }}"
            {% endif %}
            {% if include.tooltip %}
            data-tooltip="{{ include.tooltip | xml_escape }}"
            {% endif %}
            class="card-title"
            style="display: block; text-align: left;"
    >
      {{ include.title }}
    </a>
    {% endif %}

    {% if include.agency %}
    <span class="card-agency" style="display: block; text-align: left;">
    <strong>Agency:</strong> {{ include.agency }}
  </span>
    {% endif %}

    {% if include.award %}
    <span class="card-award" style="display: block; text-align: left;">
    <strong>Award:</strong> {{ include.award }}
  </span>
    {% endif %}

    {% if include.investigator %}
    <span class="card-investigator" style="display: block; text-align: left;">
    <strong>Investigator:</strong> {{ include.investigator }}
  </span>
    {% endif %}

    {% if include.description %}
    <!-- Button to trigger a popup modal with the description -->
    <button class="show-description"
            data-description="{{ include.description | markdownify | remove: '<p>' | remove: '</p>' }}"
            style="display: block; text-align: left;">
      Show Description
    </button>
    {% endif %}


  </div>
</div>