{%- comment -%}
citation.html — finds the right citation, then delegates
the rendering to citation-container.html
{%- endcomment -%}

{% if include.lookup %}
{% assign citation = site.data.citations
| where_exp: "c", "c.id == include.lookup or c.title contains include.lookup"
| first
%}
{% else %}
{% assign citation = include %}
{% endif %}

{%- comment -%}
ensure we have a style var, defaulting to "rich"
{%- endcomment -%}
{% assign the_style = include.style | default: "rich" %}

{%- include citation-container.html
citation=citation
style=the_style
-%}